<%- include('header'); -%>
<body>



<h1>
  Rishita
</h1>
<p>xjshgvfuiajkndbjnw jwrudhfjdncjfbh ejif qjscnei jdinkfjbvuhifujdnkojhufbhcjnmjuhjjhb dhfuiejofjeo</p>

<%- include('footer'); -%>
</body>
