<%# includes header to the file %>

<%- include('../partials/header'); -%>

<h1>About</h1>
<!-- including the content in the const aboutContent -->
<p>
 <%= AContent %>
  </p>
<%# includes footer to the file %>
<%- include('../partials/footer'); -%>
