<%# includes header to the file %>

<%- include('../partials/header'); -%>

<h1>Contact</h1>
<p>
  <!-- including the content in the const contactContent -->
 <%= ConContent %>
  </p>
<%# includes footer to the file %>
<%- include('../partials/footer'); -%>
