<%# includes header to the file %>

<%- include('../partials/header'); -%>

 <%# This page is for each New blog post with a h1 including the title and p including the content. %>
<h1><%=title%></h1>
<p>
 <%=content %>
  </p>

<%# includes footer to the file %>
<%- include('../partials/footer'); -%>
